/********** 共通 **********/
body {
    margin: 0px;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }


  /********** header・ヘッダー **********/
header {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 65px;
    opacity:0.9;
    top: 0;
    z-index: 1000;
  }
  


  
  /********** top wrapper **********/
  .top-wrapper {
    padding: 180px  0 100px 0;
    text-align: center;
    color: white;
    background-image: url(prog8-copy-back-img);
    background-size: cover;
  }

  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;

  /********* free section・フリーセクション *********/

.free-text {
  font-size: 24px;
  padding-left: 16px;
}

.free-section-01 {
  background: url(images/bg_02.png);
  background-position: center center;
  background-size: cover;
}

.free-section-02 {
  background: url(images/bg_03.png);
  background-position: center center;
  background-size: cover;
}

.free-section-03 button {
  color: #FFF;
  background-color: #1DB954;
  font-size: 15px;
  border-radius: 500px;
  padding: 20px 40px 20px;
  transition: 1s;
  cursor: pointer;
}

.free-section-03 button:hover {
  background-color: #1ED760;
}

.free-section-03 .contents-main {
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 1.6;
}

.free-section-03 .contents-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.free-section-03 .contents-button {
  padding-bottom: 30px;
}

footer {
  display: flex;
  background: #000;
  padding: 50px 15px 50px;
}

footer nav {
  display: flex;
}

footer a {
  color: #fff;
}

.footer-nav-title {
  color: #919496;
}

.footer-nav-01,
.footer-nav-02 {
  width: 30%;
}

.footer-nav-03 {
  width: 40%;
}

.footer-nav-03 ul{
  display: flex;
  justify-content: flex-end;
}

.footer-nav-03 li {
  padding-left: 15px;
  font-size: 50px;
}

.footer-bottom {
  margin-top: 50px;
}

.copyright {
  text-align: right;
  color: #fff;
}



@media (max-width: 600px) {
  .slide-contents-title {
    font-size: 36px;
  }
  
  .slide-contents-text {
    font-size: 24px;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  
  /* ここから追加 */
  .free-section-01 .container,
  .free-section-02 .container {
    padding-top: 100px;
  }
  
  .free-section-01,
  .free-section-02 {
    height: 500px;
  }
  
  .free-title {
    font-size: 30px;
  }
  
  .free-text {
    font-size: 20px;
  }
  /* ここまで追加 */
}