/********** 共通 **********/
body {
    margin: 0px;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .p {
        margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }


  /********** header・ヘッダー **********/
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .h-container {
    width: 1170px;
    display: flex;
    justify-content: space-between ;
    margin: auto;
  }

  .logo {
    width: 124px;
    margin-top: 20px;
  }

  .login-btn {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }

  .login-btn:hover {
      background-color: rgba(255, 255, 255, 0.5);
  }

  .login-btn a {
    color: white;
    line-height: 65px;
    padding: 0 25px;
    display: block;
  }


  /********** top wrapper **********/
  .top-wrapper {
    padding: 180px  0 100px 0;
    text-align: center;
    color: white;
    background-image: url(img-box/prog8-copy-back-img.png);
    background-size: cover;
    
  }

  .top-wrapper h1 {
    font-size: 45px;
    opacity: 0.7;
    letter-spacing: 5px;
  }

  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 15px;
  }


  .btn {
    padding: 10px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }

  .asign {
    background-color: #239b76;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }

  .twitter {
    background-color: #55acee;
  }

  /********** second wrapper **********/

  .s-container {
    height: 500px;
    padding-bottom: 80px;
  }
  .l-container {
    display: flex;
    justify-content: space-around ;
  }

  .item {
    text-align: center;
    width: 25%;
  }


  .lesson-intro {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
  }


  .sw-head {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }

  .container h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
  }

  /********** third wrapper **********/

  .third-wrapper {
    text-align: center;
  }

  .third-wrapper h2{
    color: #5f5d60;
    font-size: 1.5em;
    font-weight: normal;
  }

  .third-wrapper h3 {
    color: #5f5d60;
    font-weight: normal;
    font-size: 1.17em;
  }

   /********** third wrapper **********/

   footer img {
     width: 124px;
   }

   footer p {
    color: #b3aeb5;
    font-size: 12px;
  }