/********** 共通 **********/
body {
    margin: 0px;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }


  /********** header・ヘッダー **********/
header {
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    width: 100%;
    height: 65px;
    opacity:0.9;
    top: 0;
    z-index: 1000;
  }
  
.login-btn {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.login-btn a {
  color: white;
}

.logo-mark {
  margin-top: 20px;
}

.header-logo {
  width: 124px;
}
  
  /********** top wrapper **********/
  .top-wrapper {
    padding: 180px  0 100px 0;
    text-align: center;
    color: white;
    background-image: url(img-box/prog8-copy-back-img.png);
    background-size: cover;
  }

  .top-wrapper h1 {
    font-size: 45px;
    opacity:0.7
    
  }

  /********** second wrapper **********/
  .lesson-icons {
    display: flex;
    justify-content: space-around;
  }
  
  .lesson {
  
    text-align: center;
  }


  .sw-head {
    padding-top: 80px;
    padding-bottom: 50px;

  }

  .container h2 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
  }

  /********** third wrapper **********/


  